<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsxy.mapper.UserMapper">
    <select id="findById" parameterType="int" resultType="User">
        select *
        from users
        where uid = #{id}
    </select>
    <select id="selectById" resultType="User">
        select *
        from users
        where uid = #{id};
    </select>
    <select id="selectByName" resultType="com.nsxy.pojo.User">
        select *
        from users
        where uname = #{uname};
    </select>

    <select id="getCount" resultType="Integer">
        select count(*)
        from users;
    </select>

    <select id="getUserByLike" resultType="User">
        <!--select * from users where uname LIKE '%${mohu}%';-->
        <!--select *
        from users
        where uname LIKE concat('%', #{mohu}, '%');-->
        select * from users where uname LIKE "%"#{mohu}"%"
    </select>

    <delete id="deleteMoreUser">
        delete
        from users
        where uid in (${ids});
    </delete>

    <select id="getUserList" resultType="User">
        select *
        from ${tableName}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="uid">
        insert into users
        values (null, #{uname}, #{uage});
    </insert>
</mapper>